version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    commit-message:
      prefix: "ci(deps): "
    schedule:
      interval: monthly
  - package-ecosystem: gomod
    directory: /
    commit-message:
      prefix: "chore(deps): "
    schedule:
      interval: weekly
